*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding: 15px;
}

.header-top,
.header-content,
.quote-container,
.action-container{
    width: 1000px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header-top,
.hero-main-text{
    color: #F9FAF8;
}

.header-links a,
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 16px;
}

.header-links a{
    text-decoration: none;
}

.header-content{
    display: flex;
    gap: 16px;
    margin: 50px 0;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.header-button,
.action-button,
.call-to-action{
    background-color: #3882F6;
    color: #fff;
}

.header-button,
.action-button{
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.hero-image,
.random-image{
    flex: 0 1 auto;
    align-self: center;
}

.random-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.random-info-section h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
}

.random-info-section .img-container{
    display: flex;
    flex-direction: column;
    flex: 0;
    text-align: center;
    color: #3b3b3b;
}

.img-section{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.random-image{
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
}

.quote-container blockquote,
.quote-container .quote-attribution{
    margin: 0;
}

.quote-container blockquote{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote-container .quote-attribution{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.action-container{
    background-color: #3882f6;
    color: #fff;
    padding: 50px 100px;
    margin: 50px auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-text *{
    margin: 0;
}

.action-button{
    border: 2px solid #fff;
}